@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-BlackItalic.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-BlackItalic.woff") format("woff"),
    url("/fonts/InterTight/InterTight-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-Bold.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-Bold.woff") format("woff"),
    url("/fonts/InterTight/InterTight-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-Black.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-Black.woff") format("woff"),
    url("/fonts/InterTight/InterTight-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-BoldItalic.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-BoldItalic.woff") format("woff"),
    url("/fonts/InterTight/InterTight-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-ExtraBold.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-ExtraBold.woff") format("woff"),
    url("/fonts/InterTight/InterTight-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-ExtraLight.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-ExtraLight.woff") format("woff"),
    url("/fonts/InterTight/InterTight-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-ExtraBoldItalic.woff") format("woff"),
    url("/fonts/InterTight/InterTight-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-ExtraLightItalic.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-ExtraLightItalic.woff") format("woff"),
    url("/fonts/InterTight/InterTight-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-Light.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-Light.woff") format("woff"),
    url("/fonts/InterTight/InterTight-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-Italic.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-Italic.woff") format("woff"),
    url("/fonts/InterTight/InterTight-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-LightItalic.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-LightItalic.woff") format("woff"),
    url("/fonts/InterTight/InterTight-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-MediumItalic.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-MediumItalic.woff") format("woff"),
    url("/fonts/InterTight/InterTight-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-Medium.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-Medium.woff") format("woff"),
    url("/fonts/InterTight/InterTight-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-SemiBoldItalic.woff") format("woff"),
    url("/fonts/InterTight/InterTight-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-SemiBold.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-SemiBold.woff") format("woff"),
    url("/fonts/InterTight/InterTight-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-Regular.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-Regular.woff") format("woff"),
    url("/fonts/InterTight/InterTight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-ThinItalic.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-ThinItalic.woff") format("woff"),
    url("/fonts/InterTight/InterTight-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src:
    url("/fonts/InterTight/InterTight-Thin.woff2") format("woff2"),
    url("/fonts/InterTight/InterTight-Thin.woff") format("woff"),
    url("/fonts/InterTight/InterTight-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
